<div class="container-fluid">
    <div class="text-center rounded">
        <img src="~/img/68143649zn4f.jpg" />
    </div>

    <div class="alert alert-danger w-50 mx-auto text-center" role="alert">
        <h4 class="alert-heading">Opppsss!</h4>
        <p>Buraya giriş yetkiniz bulunmamaktadır.</p>
        <hr>
        <p class="mb-0"><a asp-controller="Home" asp-action="Index" class="btn btn-link">Anasayfaya </a> dön.</p>
    </div>
</div>