<div class="row pt-5">
    <div class="col-md-4">
        <img src="~/img/404-not-found.png" class="w-100 img-fluid" />
    </div>
    <div class="col-md-8 lead">
        <div class="mt-5">
            <h2 class="display-2 text-danger">@ViewBag.Code</h2>
            <h4 class="display-4">
                @ViewBag.Message
            </h4>
        </div>
    </div>
</div>